:root {
  --primary-font: "Poppins", sans-serif;
  --primary-color: #5390ff;
  --secondary-color: #1660e6;
  --third-color: #2e2c49;
  --backgroundGradient-primary: linear-gradient(
    153.09deg,
    --primary-color 10.28%,
    --secondary-color 102.17%
  );
  --white: #fff;
  --text-color: #aaa7b1;
  --body-bg: var(--white);
  --body-size: 1440px;
  --container: 1100px;
  --gap: 15px;
  --button-border: 28px;
  --boxShadow28px: 0px, 28px rgba(80, 136, 225, 0.29);
}
